//引入页头样式 
@import url("header.less");

//三大理财介绍
#feature{
    margin-top: 20px;
    .row{
        
        div{
            background: url("../../images/feature01.png") no-repeat left center;
            min-height: 65px;
            padding-left: 80px;
            
            h4{
              font-weight: bold;  
            }
        }
        
        div:nth-of-type(2){
           background-image: url("../../images/feature02.png"); 
        }
        
        div:nth-of-type(3){
           background-image: url("../../images/feature03.png"); 
        }
    }
}

//投资列表
#invest,#article{
    padding-right: 0px;
    padding-left: 0px;
}

#invest{
    table{
        @media all and (max-width:620px){
            .no{
                display: none;
            }
        }
        th{
            height: 50px; 
            line-height: 32px;
        }
    }
}
//公共的panel
.panel{
    -webkit-box-shadow:none;
    box-shadow:none;
}
.panel-default{
    border: none;
    
    &>.panel-heading{
        background-color: transparent;
        padding: 0px;
        
        display: flex;
        justify-content: space-between;
        
        h1{
            font-size: 24px;
            margin-bottom: 0px;
           padding-bottom:10px;
            color: @colorBlue;
            font-weight: bold;
            border-bottom: 3px solid @colorBlue;
        }
        
        p{
            height:50px;
            line-height: 65px;
           
        }
    }
    
    .panel-body{
        padding: 15px 0px;
   
        ul{
            
            li{
                line-height: 40px;
                border-bottom: dotted 1px #ccc;
                
                span{
                    float: right;
                    color: #999;
                }
            }
        }
    }
}


//页脚
@import url("footer.less");
