//引入页头样式
@import url("header.less");
.in{
    display: block;
}
.none{
    display: none;
}

 @import url("left.less");
#person {
    margin-top: 5px;
    //右边的
    #right {
        .el-account-info {
            text-align: left;
            border-bottom: 1px solid #ccc;
            padding: 15px 0;
            img {
                width: 70px;
                height: 70px;
            }
            .content {
                padding-left: 110px;
            }
        }
        .end {
            margin: 25px 0;
        }
    }
}

//页脚
@import url("footer.less");