//引入页头样式
@import url("header.less");
#person {
    margin-top: 5px;
    #leftBox {
        #menu {
            .list-group-item {
                padding: 0;
                ul {
                    li {
                        padding: 0px 20px;
                    }
                    & li:hover {
                        background: #337AB7;
                        a {
                            color: #fff;
                        }
                    }
                }
                li {
                    line-height: 35px;
                }
                .aaa {
                    width: 100%;
                    line-height: 40px;
                    display: inline-block;
                    background: #EEE;
                    padding-left: 10px;
                    text-decoration: none;
                }
            }
        }
        .list-group {
            li {
                line-height: 26px;
            }
        }
    }
    #rightBox {
        #loginReg {
            form {
                margin: 0 auto;
                width: 400px;
            }
        }
    }
}

//页脚
@import url("footer.less");